set_io bin[0] user_IN_B[0]
set_io bin[1] user_IN_B[1]
set_io bin[2] user_IN_B[2]
set_io bin[3] user_IN_B[3]
set_io bin[4] user_IN_B[4]
set_io bin[5] user_IN_B[5]
set_io bin[6] user_IN_B[6]
set_io bin[7] user_IN_B[7]
set_io bcd[0] user_OUT_B[0]
set_io bcd[1] user_OUT_B[1]
set_io bcd[2] user_OUT_B[2]
set_io bcd[3] user_OUT_B[3]
set_io bcd[4] user_OUT_B[4]
set_io bcd[5] user_OUT_B[5]
set_io bcd[6] user_OUT_B[6]
set_io bcd[7] user_OUT_B[7]
set_io bcd[8] user_OUT_B[8]
set_io bcd[9] user_OUT_B[9]
set_io bcd[10] user_OUT_B[10]
set_io bcd[11] user_OUT_B[11]
